@import "normalize";
@import "variables";
@import "mixins";
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

// play with experimental grid... see onenote notes for details
body {
  // font-family: 'Josefin Sans', open sans;
  background: url('../img/mt_2010.jpg') no-repeat center center fixed; 
  @include bg-picture();
  width: 100%;
  color: white;
}

//Flex styles
.flex {
  display: flex;
  // display: -webkit-flex;
}

.navigation {
  justify-content: space-between;
}

.justify {
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.vertical-center {
  align-items: center;
}

// .main_h {
//   position: fixed;
//   top: 0px;
//   max-height: 70px;
//   z-index: 999;
//   width: 100%;
//   padding-top: 17px;
//   background: #333;
//   overflow: hidden;
//   @include transition(all 0.3s);
//   opacity: 1;
//   top: -100px;
//   padding-bottom: 6px;
//   font-family: 'Josefin Sans', open sans;
// }

nav {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background: #333;
  box-shadow: 0px 0px 10px 0px black;
  div#logo {
    padding: 20px;
    h1, h3 {
      margin: 0;
      text-align: center;
    }
  }
  ul {
    width: 60%;
    margin: 0;
    li {
      list-style: none;
      &:hover {
        background: #555;
      }
      @include transition(0.3s);
        a {
          text-decoration: none;
          color: white;
          font-size: 1.3em;
          padding: 0 40px;
      }
    }
  }
}

//media queries
@media only screen and (max-width: 900px) {
  .navigation {
    flex-direction: column;
  }
  .justify {
    justify-content: center;
  }
  ul {
    width: 100% !important;
    height: 50px;
    padding: 0;
    background: #333;
    li:hover {
        background: #555 !important;
    } 
  }
}

@media only screen and (max-width: 600x) {
  ul{
    flex-direction: column;
    height: auto;
    li {
      height: 50px !important;
      width: 100%;
      justify-content: center;
    }
  .mobile-toggle {
    display: block;
  }
}
.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #8f8f8f;
  display: block;
}}