@import "variables";
@import "mixins";
@import "transformicon";
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Montserrat|Open+Sans');

$breakpoint-tablet: 1025px;
$breakpoint-phone: 769px;

.flex {
  display: flex;
  display: -webkit-flex;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}

body {
  color: white;
  
  margin: 0;
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
}

* {
  box-sizing: border-box;
}

.main-header {
  font-family: 'Josefin Sans', open sans;
  position: fixed;
  width: 100%;
  flex:1 0 100%;
  flex-wrap:wrap; // must be there to allow the navigation to go next line
  background: $nav-color;
  box-shadow: 0px 0px 10px 0px black;
  
  justify-content: space-between;
  
  .logo {
    h1, h2 {
      margin: 0;
      padding: 10px;   
    }
  }
  
  .main-nav-container {
    width: 40%;
    
    .main-nav {
      padding: 0;
      flex: 1;
      margin: 0;
      justify-content: center;
      
      li {
        flex: 1;
        // justify-content: center;
        // align-items: stretch;
        flex-direction: column;
        text-align: center;

        &.active {
          background: $nav-highlight;
          border-bottom: 1px solid $clrGreen;
        }
        
        &:hover {
          background: $nav-highlight;
          border-bottom: 1px solid $clrPaleRed;
        }
        &.active:hover {
          border-bottom: 1px solid $clrGreen;
        }
        transition: all 0.3s ease;
        
        a {
          align-items: center;
          flex: 1;
          justify-content: center;
          text-transform: uppercase;
          font-weight: 700;
        }
      }
    }
  }
}

@media all and (max-width: $breakpoint-tablet) {
  
  .main-header {
    flex-direction: column;
    align-items: center;
    
    
    .main-nav-container {
      .main-nav {
        li {
          flex: 1 0 40%;
          
          a {
            padding: 1.2em;
          }
        }
      }
    }
    // end main-nav-container
  }
  // end main-header

  .content {

    article.home-about-text {

      .article-body {
        flex-direction: column;
        // justify-content: center;  
        align-items: center;
      }
    }
  }
}
// end tablet

@media all and (max-width: $breakpoint-phone) {
  
  .main-header {
    align-items: center;
    width: 100%;

    .logo {
      font-size: 1.2em;
    }
    
    .main-nav-container {
      margin: 0;
      width: 50%;
      
      .main-nav {
        margin: auto;
        
      }
    }   
  }
  // end main-header

  .content {

    article.home-about-text {
      flex-direction: column;

      .article-body {
        flex-wrap: wrap;
        
        .img {
          align-self: center;
        }
      }
    }
    // end article
  }
  // end content
}
// end phone

* {
  box-sizing: border-box;
}

body {
  color: #888;
  background: #444;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

p {
  font-size: 17px;
  line-height: 2;
}

a {
  text-decoration: none;
}

.content {
  padding: 50px 5% 200px;
  article {
    padding-bottom: 10px;
    h1 {
      line-height: 1.8;
    }
    p {
      padding: 0 10px;
    }
  }
  article.home-about-text {
    padding: 0 5%;
    // h1 {
    //   text-transform: uppercase;
    //   color: white;
    //   text-align: center;
    //   span {
    //     font-size: 0.6em;
    //   }
    // }
    flex-direction: column;
    flex-wrap: wrap;

    .title {
      text-align: center;
      align-self: center;
      color: white;
      font-size: 2.5em;
      line-height: 1; 
      span {
        color: #dbd9d8;
        border-bottom: 2px solid $clrGreen;
        // opacity: 0.6;
        font-size: 0.5em;
        line-height: 3;
      }
    }
    .article-body {
      // flex-direction: row;
      justify-content: space-between;
      flex-grow: 1;
      .article-item {
        
        a {
          color: $clrPaleRed;
        }
      }
      .img {
        border-radius: 25px; 
      }
    } 
  }
}


.bg {
  // background: url('../img/mt_2010.jpg') no-repeat center center fixed; 
  background: url('http://i.imgur.com/2KygkAF.jpg') no-repeat center center fixed; 
  @include bg-picture();
  min-height: 100vh;
  color: white;
  letter-spacing: 2px;
  font-family: "Josefin Sans", sans-serif;
  
  justify-content: space-around;
  .bg-scroll {
    align-self: center;
  }
  .bg-text {
    text-align: center;
  }
  h1 {
    font-size: 3.2em;
    line-height: 1.3;
    span {
      font-size: 0.5em;
      color: $clrGreen;
      border-bottom: 2px solid $clrGreen;
      line-height: 3;
    }
  }
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}
