$clrGreen: #9f9;
$clrPaleRed: #D46A6A;

$nav-color: #333;
$nav-highlight: #555;


// icons flaticon
$icomoon-font-path: "fonts" !default;

$icon-circle-download: "\f100";
$icon-circle-github: "\f101";
$icon-circle-linkedin: "\f105";
$icon-circle-share: "\f103";
$icon-pdf: "\f102";
$icon-share: "\f104";

