.DS_Store

# Project dependencies
.cache
node_modules/
yarn-error.log

# Old Directory
.old/

# Public directory
public/

.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.cache/
public
build

**/*key.js