.container {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 9999;
  padding-right: 0.8rem;
  padding-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.6rem;
}

@media screen and (max-width: 768px) {
  .container {
    margin-left: 0.8rem;
  }
}
