body {
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2 {
  font-family: 'Josefin Sans', sans-serif;
}

p,
li {
  font-size: 1rem;
}

h3 {
  font-size: 1.2rem;
}

section {
  margin-bottom: 3rem;
}

@media print {
  section {
    page-break-before: auto;
  }

  a {
    color: var(--theme-text, black);
    text-decoration: none;
  }
}
