.xpHeader {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-gap: 1.5rem;
}

.xpTitle {
  margin-bottom: 1.45rem;
}

.xpDate {
  font-style: italic;
  margin-bottom: 1.45rem;
}

@media print {
  .cardTitle {
    margin-bottom: 0.45rem;
  }

  .cardDescription {
    margin-bottom: 0.45rem;
  }
}
