.card {
  background-color: whitesmoke;
  padding: 1rem;
  border-radius: 0.2rem;
  border: 1px solid darkgrey;

  display: flex;
  flex-direction: column;
  width: 100%;
}

.technologies {
  margin-top: auto;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-gap: 0.8rem;

  font-style: italic;
}

@media print {
  .card {
    background-color: transparent;
    border: none;
  }
}
